.invisible {
  visibility: hidden;
}
.main {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
}

.game-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.current00 {
  color: red;
  border: red solid 1px;
  border-radius: 3px;
}
.current11 {
  color: red;
  border: red solid 1px;
  border-radius: 3px;
}

.player {
  font-size: 2rem;
  padding: 1rem;
}

.current {
  font-size: 1.5rem;
  padding: 1rem;
}

.button {
  background: none;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}
