.invisible {
  visibility: hidden;
}
.main {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
}

.game-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.current00 {
  color: red;
  border: red solid 1px;
}
.current11 {
  color: red;
  border: red solid 1px;
}
